@import url('./default.css');

/*-- 공통 영역  -------------------------------------------*/

.header
{
    padding: 10px;
    min-width: 1360px;
    border-bottom: 1px solid var(--light-gray); 
    text-align: center;
}

.logo
{
    width: 30%;
    min-width: 200px;
    max-width: 250px;
    cursor: pointer;
}

.bodyArea
{
    display: flex;
    font-family: var(--main-font);
}

/*-- aside 영역  -------------------------------------------*/

.aside
{
    padding: 80px;
    min-width: 260px;
}

.adminLocation
{
    font-size: 24px;
    color: #adadad
}

.adminPage
{
    font-size: 28px;
    font-weight: 500;
    color: var(---color);
}

.menu
{
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    border-top: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
    list-style: none;
}

.selectMenuItem
{
    margin-top: 20px;
    padding: 5px;
    padding-left: 20px;
    border-left:  4px solid var(--main-color);
    color: var(--main-color);
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.3s;
}

.menuItem
{
    margin-top: 20px;
    padding: 5px;
    padding-left: 20px;
    color: #adadad;
    transition: 0.3s;
    cursor: pointer;
    letter-spacing: 1px;
}

.menuItem:hover
{
    color: var(--hover-color);
}

.logout
{
    width: 100px;
    padding: 10px;
    margin-top: 40px;
    font-size: 18px;
    border: 0;
    border-radius: 4px;
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
    font-family: var(--main-font);
    letter-spacing: 1px;
    font-weight: 300;
    transition: 0.3s;
}

.logout:hover
{
    background-color: var(--hover-color);
}

/*-- main 영역  -------------------------------------------*/

.main
{
    width: 100%;
    padding: 50px;
    min-width: 900px;
}

.board
{
    padding: 50px;
    animation-name: fade;
    animation-duration: 0.5s;
}

.boardTitle
{
    font-size: 24px;
    color: var(--main-color);
}

.tableBox
{
    border-top: 3px solid var(--light-gray);
    padding-top: 20px;
    width: 100%;
    color: var(--gray-color);
    margin-top: 40px;
}

.tableItem
{
    padding: 5px;
    padding-bottom: 25px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);

}

.tableTitle
{
    font-size: 18px;
    letter-spacing: 1px;
}

.tableTitleMini
{
    text-align: center;
    width: 200px;
    font-size: 16px;
    letter-spacing: 1px;
}

.selectBox
{
    width: 200px;
    height: 34px;
    padding: 5px;
}

.selectBox:focus
{
    border: 1px solid var(--main-color);
    outline: none;
}

.tableInfo
{
    text-align: center;
    width: 200px;
}

.success
{
    margin-left: 30px;
    margin-top: 25px;
    color: var(--main-color);
}

/*-- Commuting Time 영역  -------------------------------------------*/

.ctiInfoBox
{
    display: flex;
    align-items: center;
}

.ctiInfo
{
    width: 200px;
    border: 0;
    padding: 10px;
    font-size: 18px;
    background: none;
    text-align: right;
    margin-right: 40px;
}

.ctiInfo:focus
{
    outline: none;
    border: 1px solid var(--main-color);
    border-radius: 4px;
}

.ctiInfoBtn
{
    font-size: 24px;
    color:#adadad;
    cursor: pointer;
    transition: 0.3s;
}

.ctiInfoBtn:hover
{
    color:var(--main-color);
}

/*-- User Log 영역  -------------------------------------------*/

.searchUser
{
    border-top: 3px solid var(--light-gray);
    padding-top: 20px;
    width: 100%;
    color: var(--gray-color);
    margin-top: 40px;
}

.userSelectBox
{
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 30px;
}

.userSelect
{
    margin: 15px;
}

.searchUserTitle
{
    font-size: 16px;
    color: #7c7c7c;
    font-weight: 300;
    margin-bottom: 10px;
}

.logInfo
{
    margin-top: 60px;
}

@media screen and (min-width: 1920px) {
    /*-- 공통 영역  -------------------------------------------*/
    

    /*-- aside 영역  -------------------------------------------*/
    .adminLocation
    {
        font-size: 26px;
    }

    .adminPage
    {
        font-size: 30px;
    }

    .menu
    {
        font-size: 22px;
    }

    /*-- main 영역  -------------------------------------------*/
    .boardTitle
    {
        font-size: 26px;
    }

    .tableTitle
    {
        font-size: 20px;
    }

    .tableTitleMini
    {
        font-size: 18px;
    }

    /*-- Commuting Time 영역  -------------------------------------------*/
}

/*-- 애니메이션 영역  -------------------------------------------*/

@keyframes fade
{
    from
    {
        opacity: 0%;
        margin-top: 80px;
    }

    to
    {
        opacity: 100%;
        margin-top: 0px;
    }
}