@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

:root{
    --main-color: #61c8cf;
    --hover-color: #58b3b9;
    --sub-color: ;
    --point-color: ;
    --gray-color: #535353;
    --light-gray: #ebebeb;
    --alert-color: #fff9c4;
    --main-font: 'Noto Sans KR';
}

*
{
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
    margin: 0;
}
