@import url('./default.css');

.rootBox
{
    position: absolute;
    margin: 0 auto;
    top: 15vh;
    left: 0;
    right: 0;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.findBox
{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.tap
{
    font-family: var(--main-font);
    font-weight: 500;
    letter-spacing: 1px;
    width: 100%;
    font-size: 18px;
    padding: 0.6em;
    background: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
}

.infoBox
{
    padding-bottom: 5vh;
    border: 1px solid rgb(197, 197, 197);
    margin-bottom: 3vh;
    min-height: 350px;
    max-height: 650px;
}

.text
{
    color: var(--gray-color);
    font-family: var(--main-font); 
    font-weight: 300;
    letter-spacing: 1px;
}

.link
{
    text-decoration: none;
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: 300;   
    transition: 0.3s;
    letter-spacing: 1px;
}

.text, .link
{
    font-size: 14px;
}

.link:hover
{
    color: var(--hover-color);
}

.itemBox
{
    text-align: left;
    padding-left: 6%;
    padding-top: 6%;
}

.label
{
    font-family: var(--main-font);
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--gray-color);
    letter-spacing: 1px;
    font-weight: 300;
}

.input
{
    width: 90%;
    max-width: 500px;
    font-family: var(--main-font);
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0.5em;
    font-size: 16px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
}

.phoneNum
{
    width: 55%;
    max-width: 400px;
    font-family: var(--main-font);
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0.5em;
    font-size: 16px;
    -webkit-appearance: none;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
}

.getBtn
{
    width: 34%;
    margin-left: 1%;
    padding: 0.5em;
    font-size: 16px;
    border: 0;
    background-color: var(--main-color);
    color: white;
    font-family: var(--main-font);
    letter-spacing: 1px;
    transition: 0.2s;
    border-radius: 4px;
    cursor: pointer;
}

.submitBtn
{
    width: 25%;
    padding: 0.6em;
    font-size: 16px;
    margin-top: 5vh;
    border: 0;
    background-color: var(--main-color);
    color: white;
    font-family: var(--main-font);
    letter-spacing: 1px;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 4px;
}

.getBtn:hover, .submitBtn:hover
{
    background-color: var(--hover-color);
}

.Alert
{
    position: absolute;
    padding: 1.3em;
    top: 2%;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--alert-color);
    font-family: var(--main-font);
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--gray-color);
}

.icon
{
    color: var(--gray-color);
    margin-right: 14px;
}

.message
{
    padding: 10px;
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: 300;
    letter-spacing: 1px;
}

@media screen and (min-width: 769px) {
    .tap, .clickTap
    {
        font-size: 20px;
    }

    .text, .link
    {
        font-size: 16px;
    }
}


@media screen and (min-width: 1024px) {  
    .tap, .clickTap
    {
        font-size: 24px;
    }

    .text, .link, input, .phoneNum, .getBtn, .submitBtn, .Alert
    {
        font-size: 18px;
    }
}



@media screen and (min-width: 1200px) {
	.tap, .clickTap
    {
        font-size: 26px;
    }

    .Alert
    {
        font-size: 22px;
    }

    .input, .phoneNum, .getBtn
    {
        font-size: 20px;
    }
}