@import url('./default.css');

.rootBox
{
    position: absolute;
    margin: 0 auto;
    top: 8vh;
    left: 0;
    right: 0;
    width: 80%;
    max-width: 600px;
    text-align: center;
    animation-duration: 1s;
    animation-name: top;
}

.findBox
{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.tap
{
    font-family: var(--main-font);
    font-weight: 700;
    letter-spacing: 1px;
    width: 100%;
    font-size: 28px;
    padding: 0.6em;
    color: var(--black-color);
    margin-bottom: 5vh;
}

.infoBox
{
    padding-bottom: 5vh;
    margin-bottom: 3vh;
    min-height: 350px;
    max-height: 650px;
}

.text
{
    color: var(--black-color);
    font-family: var(--main-font); 
    font-weight: 300;
    letter-spacing: 1px;
}

.link
{
    text-decoration: none;
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: 300;   
    transition: 0.3s;
    letter-spacing: 1px;
}

.text, .link
{
    font-size: 14px;
}

.changePassword
{
    margin-top: 60px;
}

.link:hover
{
    color: var(--hover-color);
}

.itemBox
{
    text-align: left;
    padding-left: 6%;
    padding-top: 6%;
}

.label
{
    font-family: var(--main-font);
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--black-color);
    letter-spacing: 1px;
    font-weight: 500;
}

.input
{
    width: 90%;
    max-width: 500px;
    font-family: var(--main-font);
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0.5em;
    padding-left: 14px;
    font-size: 16px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
}

.phoneNum
{
    width: 55%;
    max-width: 400px;
    font-family: var(--main-font);
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0.5em;
    padding-left: 14px;
    font-size: 16px;
    -webkit-appearance: none;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
}

.input:focus, .phoneNum:focus{
    border-color: var(--main-color);
    outline: none;
}

.getBtn
{
    width: 34%;
    margin-left: 1%;
    padding: 0.5em;
    font-size: 16px;
    border: 0;
    background-color: var(--main-color);
    color: white;
    font-family: var(--main-font);
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.2s;
    border-radius: 4px;
    cursor: pointer;
}

.submitBtn
{
    width: 25%;
    min-width: 180px;
    padding: 0.7em;
    font-size: 16px;
    margin-top: 5vh;
    border: 0;
    background-color: var(--main-color);
    color: white;
    font-family: var(--main-font);
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 4px;
}

.getBtn:hover, .submitBtn:hover
{
    background-color: var(--hover-color);
}

.Alert
{
    position: absolute;
    padding: 1em;
    top: 2%;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--alert-color);
    font-family: var(--main-font);
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--black-color);
}

.icon
{
    color: var(--black-color);
    margin-right: 14px;
}

.message
{
    padding: 10px;
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: 300;
    letter-spacing: 1px;
}

.bg
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../asset/login_bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-name: bg;
}

.textBox
{
    padding-left: 6%;
    padding-top: 6%;
    font-family: var(--main-font);
    font-size: 14px;
    color: var(--gray-color);
}

.checkText
{
    margin-top: 10px;
}

.pointText
{
    color: var(--main-color);
}

@media screen and (min-width: 769px) {
    .tap
    {
        font-size: 30px;
    }

    .text, .link
    {
        font-size: 16px;
    }
}


@media screen and (min-width: 1024px) {  

    .text, .link, input, .phoneNum, .getBtn, .submitBtn, .Alert, .label, .checkText
    {
        font-size: 16px;
    }

    .textBox
    {
        text-align: left;
    }
}



@media screen and (min-width: 1200px) {

    .input, .phoneNum, .getBtn
    {
        font-size: 16px;
    }
}

@keyframes bg {
    from {
      opacity: 100%;
    }
  
    to {
      opacity: 30%;
    }
}

@keyframes top {
    from {
        opacity: 0%;
        top: 20vh;
    }
  
    to {
      top: 8vh;
      opacity: 100%;
    }
}