@import url("./default.css");

.header
{
    text-align: center;
}

.headerTitle
{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1px;
    
}

.headerText
{
    font-family: var(--main-font);
    font-weight: 300;
    margin-top: 10px;
    letter-spacing: -1px;
    
}

.loginBox
{
    display: flex;
    flex-flow: column;
    padding: 40px;
}

.inputBox
{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 3vh;
}

.label
{
    font-family: var(--main-font);
    color: var(--gray-color);
    letter-spacing: 1px;
    font-weight: 300;
}

.input
{
    width: 94%;
    max-width: 600px;
    padding: 3%;
    font-size: 18px;
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid #dfdfdf;
    font-family: var(--main-font);
    font-weight: 300;
    letter-spacing: 1px;
}

.input:focus{
    border-color: var(--main-color);
    outline: none;
}

.loginBtn
{
    padding: 0.7em;
    background-color: var(--main-color);
    color: white;
    border: 0;
    width: 100%;
    max-width: 600px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 5vh;
    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
    min-height: 40px;
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 1px;
}

.linkBox
{
    margin-top: 5px;
    text-align: center;
}

.link
{
    text-decoration: none;
    color: gray;
    font-family: var(--main-font);
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    
}

.loginBtn:hover
{
    background-color: var(--hover-color);
}

.link:hover
{
    color: var(--hover-color);
}

.Alert
{
    position: absolute;
    padding: 1.3em;
    top: 2%;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--alert-color);
    font-family: var(--main-font);
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--gray-color);
    
}

.pointText
{
    color: var(--main-color);
}

.icon
{
    color: var(--gray-color);
    margin-right: 14px;
}

.bg
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../asset/login_bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
    animation-name: bg;
    animation-duration: 1.5s;
    
}

.item
{
    animation-name: item;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    padding-top: 16vh
}

@media screen and (min-width: 769px) {
    .title
    {
        font-size: 54px;
    }

    .label, .input
    {
       font-size: 18px;
    }
}


@media screen and (min-width: 1024px) {  
    .title
    {
        font-size: 58px;
    }

    .label, .input, .link, .Alert, .headerText
    {
       font-size: 20px;
    }
    
    .headerTitle
    {
        font-size: 34px;
    }

    .loginBtn
    {
        font-size: 22px;
    }
}


@media screen and (min-width: 1200px) {
	.title
    {
        font-size: 64px;
    }

    .label, .input, .headerText
    {
       font-size: 22px;
    }

    .linkBox
    {
        text-align: left;
        margin-left: 0px;
    }


    .loginBtn
    {
        max-width: 350px;
    }

    .header
    {
        text-align: left;
        margin-left: 40px;
    }

    .item
    {
        padding-top: 24vh
    }

    .headerTitle
    {
        font-size: 42px;
    }

    .loginBox, .inputBox, .loginBtn
    {
        margin-left: 0px;
    }

    @keyframes item
    {
        from{
            margin-left: 20px;
            opacity: 20%;
        }

        to
        {
            margin-left: 80px;
            opacity: 100%;
        }
    }
}


@keyframes bg
{
    from{
        opacity: 40%;
    }

    to
    {
        opacity: 100%;
    }
}