@import url('./default.css');

.header
{
    padding: 10px;
    border-bottom: 1px solid var(--light-gray); 
    text-align: center;
}

.logo
{

    width: 40%;
    max-width: 350px;
}

.signout
{
    font-size: 24px;
    color: var(--main-color);
    margin-right: 14px;
    cursor: pointer;
}

.content
{
    margin-top: 30px;
    display: flex;
    flex-flow: column;
}

.helloBox
{
    text-align: center;
    padding: 20px;
}

.userImg
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px solid var(--main-color);
}

.hello
{
    padding: 20px;
}

.helloText
{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 28px;
    color: var(--gray-color);
}

.todayBox
{
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid var(--light-gray);
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

.title
{
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 500;
    letter-spacing: 1px;
    font-size: 20px;
}

.today
{
    margin-top: 10px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    height: 300px;
}

.dashboard
{
    padding: 40px;
    font-family: var(--main-font);
    color: var(--main-color);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

.chatBtnBox
{
    position: fixed;
    bottom: 20px;
    right: 3%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items:flex-end;
}

.ul
{
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 20px;
    list-style: none;
    width: 100px;
    background-color: #ffffff;
    padding: 20px;
    height: 90px;
    animation-name: ul;
    animation-duration: 0.3s;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    text-align: left;
    border: 1px solid var(--light-gray);
}

.li
{
    width: 100%;
    padding: 6px;
    margin-top: 4px;
}

.liIcon
{
    color: #bdbdbd;
}

.liLink
{
    text-decoration: none;
    color: var(--gray-color);
}   

.chatBtn
{
    background: var(--main-color);
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 100% 100% 100% 100%;
    padding: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    
}


@media screen and (min-width: 1024px) {  
   
}



@media screen and (min-width: 1200px) {
	
}

@keyframes ul
{
    from
    {
        opacity: 0%;
    }

    to
    {
        opacity: 100%;
    }
}