@import url('./default.css');

.header
{
    height: 60px;
    padding-left: 1em;
    padding-right: 1.4em;
    border-bottom: 1px solid var(--light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
}

.logo
{
    -webkit-user-drag: none; 
    cursor: pointer;
    width: 34%;
    max-width: 230px;
}

.barBtn
{
    font-size: 24px;
    color: var(--gray-color);
    cursor: pointer;
}

.mobileUl
{
    list-style: none;
    padding-left: 4%;
    padding-right: 4%;
    animation-duration: 0.4s;
    animation-name: bar;
    position: absolute;
    background-color: white;
    width: 92%;
    height: 100%;
}

.mobileLi
{
    padding: 0.8em;
    font-size: 18px;
    font-family: var(--main-font);
    color: var(--gray-color);
    font-weight: 400;
    letter-spacing: 1px;
    border-bottom: 1px solid var(--light-gray);
    transition: 0.1s;
    cursor: pointer;
}

.desktopUl
{
    display: none;
    justify-content: space-between;
    width: 60%;
    margin-right: 2%;
}

.desktopLi
{
    font-family: var(--main-font);
    letter-spacing: 1px;
    list-style: none;
    font-size: 20px;
    color: var(--gray-color);
    cursor: pointer;
}

.hiddenUl
{
    display: none;
}

.signOut
{
    font-size: 28px;
    color: var(--gray-color);
    position: fixed;
    left: 4%;
    bottom: 2%;
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    .mobileLi
    {
        font-size: 22px;
    }
    
    .signOut
    {
        font-size: 34px;
    }
}


@media screen and (min-width: 1024px) {  
    .barBtn, .mobileUl
    {
        display: none;
    }

    .header
    {
        height: 80px;
    }

    .desktopUl
    {
        display: flex;
    }

    .signOut
    {
        position: static;
        font-size: 28px;
    }
}



@media screen and (min-width: 1200px) {
	
}

@keyframes bar {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 100%;
    }
}