@import url('./default.css');

.header
{
    padding: 10px;
    border-bottom: 1px solid var(--light-gray); 
    text-align: center;
}

.logo
{
    width: 30%;
    min-width: 200px;
    max-width: 250px;
    cursor: pointer;
}

.noticeBox
{
    width: 80%;
    max-width: 800px;
    padding: 30px;
    margin: 0 auto;
    font-family: var(--main-font);
}

.noticeTitleBox
{
    display: flex;
    flex-flow: column;
}

.title
{
    font-size: 20px;
}

.selectYearBox
{
    margin-top: 20px;
}

.setSelectYear
{
    padding: 8px;
    width: 90px;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    border: 0;
    font-size: 16px;
    background: var(--light-gray);
}

.selectYear
{
    padding: 8px;
    width: 90px;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    border: 0;
    font-size: 16px;
    background: none;
}

.notice
{
    margin-top: 40px;
    width: 100%;
}

.noticeItem
{
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 300;
    margin-top: 14px;
    color: var(--black-color);
    transition: 0.3s;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}

.noticeLink
{
    text-decoration: none;
    color: var(--black-color);
}

.noticeDay
{
    display: none;
}

@media screen and (min-width: 1024px) {  
    .title
    {
        font-size: 24px;
    }

    .noticeDay
    {
        display: block;
    }
}