@import url('./default.css');

/*------------------------ 공통 */

.header
{
    padding: 10px;
    border-bottom: 1px solid var(--light-gray); 
    text-align: center;
}

.footer
{
    padding: 10px;
}

.logo
{

    width: 30%;
    min-width: 200px;
    max-width: 250px;
    cursor: pointer;
}

.signout
{
    font-size: 24px;
    color: var(--main-color);
    margin-right: 14px;
    cursor: pointer;
}
.content
{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: column;
}

.helloBox
{
    text-align: center;
    padding: 20px;
}
.userImg
{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 4px solid var(--main-color);
}
.hello
{
    padding: 20px;
}
.helloText
{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 22px;
    color: var(--black-color);
}
.helloItem
{
    display: flex;
    flex-flow: column;
}

.stateBox
{
    padding: 20px;
}

.stateBtn
{
    width: 80px;
    margin: 10px;
    padding: 8px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
    letter-spacing: 1px;
}

.stateBtn:hover
{
    background-color: var(--hover-color);
}

.todayBox, .messageBox
{
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid var(--light-gray);
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

.pushTodo
{  
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-family: var(--main-font);
}

.todoCheck
{
    width: 18px;
    height: 18px;
}

.todoInput
{
    width: 70%;
    color: var(--black-color);
    height: 35px;
    border: 1px solid #B0B8BF;
    padding-left: 10px;
    margin-right: 5px;
    
}

.todoSubmit
{
    width: 20%;
    height: 38px;
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
    border: 0;
    border-radius: 4px;
}

.todoSubmit:hover
{
    background-color: var(--hover-color);
}

.todoInput:focus
{
    outline: none;
}


.workStatusGrid
{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
}

.approvalBox, .logBox
{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid var(--light-gray);
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

.chartBox
{
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid var(--light-gray);
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

.chartItem
{
    padding-top: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.chart
{
    width: 250px;
    height: 250px;
}

.sectionHeader
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.titleBox
{
    display: flex;
    align-items: center;
}

.titleIcon
{
    font-size: 22px;
    color: var(--main-color);
    margin-right: 15px;
}

.more
{
    cursor: pointer;
    color: #8f8f8f;
}

.title
{
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 500;
    letter-spacing: 1px;
    font-size: 20px;
}

.sectionItem
{
    margin-top: 20px;
    width: 100%;
}

.messageItem
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.message
{
    display: flex;
    justify-content: start;
    width: 100%;
    text-decoration: none;
    color: var(--black-color);
}

.messagePhoto, .approvalPhoto
{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-right: 10px;
}

.userBox
{
    width: 70%;
    font-family: var(--main-font);
    letter-spacing: 1px;
}

.userName
{
    font-size: 16px;
}

.lastMessage
{
    font-size: 14px;
    font-weight: 300;
}

.messageCount
{
    width: 10px;
    height: 10px;
    padding: 6px;
    border-radius: 100%;
    color: white;
    font-size: 16px;
    background-color: #ff6060;
    font-family: var(--main-font);
    line-height: 50%;
}

.mapItem
{
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 14px;
    color: var(--black-color);
    transition: 0.3s;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}

.board
{
    display: flex;
    width: 100%;
    flex-flow: column;
    text-align: center;
}

.tapBox
{
    padding: 10px;
    width: 90%;
    height: 5vh;
    min-height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}


.tap
{
    text-align: center;
    width: 30%;
    font-size: 16px;
    cursor: pointer;
    background: none;
    border: 0;
    font-family: var(--main-font);
    font-weight: 500;
    letter-spacing: 1px;
    color: #8f8f8f;
    transition: 0.3s;
}

.setTap
{
    text-align: center;
    width: 30%;
    font-size: 18px;
    cursor: pointer;
    background: none;
    border: 0;
    font-family: var(--main-font);
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    transition: 0.3s;
}

.tap:hover
{
    color: var(--main-color);
}

.tapItem
{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
}


.chatBtnBox
{
    position: fixed;
    bottom: 20px;
    right: 3%;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items:flex-end;
}

.chartLabel
{
    width: 90%;
    padding: 20px;
    margin-top:10px;
    display: grid;
    flex-flow: column;
    align-items: center;
    grid-template-columns: 50% 50%;
    row-gap: 10px;
    column-gap: 10px;
    font-size: 18px;
}

.chartPer
{
    margin-top: 20px;
    padding: 10px;
    color: var(--main-color);
    text-align: center;
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.chartSection
{
    text-align: center;
}

.approvalItem, .logItem
{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    font-family: var(--main-font);
    letter-spacing: 1px;
    color: var(--black-color);
}

.approval, .log
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.approvalState
{
    margin-right: 30px;
    font-weight: 500;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(252, 252, 252);
    border-radius: 20px 20px 20px 20px;
}

.approvalName
{
    margin-left: 10px;
    font-weight: 500;
}

.logPositon
{
    font-weight: 300;
    font-size: 12px;
}

.logTime
{
    font-weight: 300;
    padding: 10px;
    border: 2px solid;
    border-radius: 0px 8px 8px 0px;
    display: none;
}

.approvalDay
{
    font-weight: 300;
    display: none;
}

.logName
{
    font-weight: 500;
}

.logState
{
    display: inline;
    padding: 10px;
    font-size: 14px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    font-weight: 500;
    border-radius: 8px 8px 8px 8px;
}

.label
{
    width: 40%;
    min-width: 80px;
    margin: 0 auto;
    font-size: 18px;
}

.labelText
{
    text-align: left;
    color: var(--black-color);
    font-family: var(--main-font);
    font-weight: 300;
    letter-spacing: 1px;
}

.businessInfo, .workStatus, .deviceManagement
{
    animation-name: fade;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    display: grid;
    justify-items: center;
    row-gap: 30px;
    grid-template-columns: 100%;
}

.noticeBox
{
    width: 80%;
    border: 1px solid var(--light-gray);
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

.noticeLink
{
    text-decoration: none;
    color: var(--black-color);
}

.noticeDay, .alertTime
{
    display: none;
}

.alertItem
{
    display: flex;
    font-family: var(--main-font);
    font-weight: 300;
    letter-spacing: 1px;
    align-items: center;
    padding: 10px;
}

.alertIcon
{
    width: 50px;
    margin-right: 10px;
    height: 50px;
    border-radius: 100%;
    border: 0;
}

.alertText
{
    width: 100%;
    display: flex;
    justify-content: start;
    flex-flow: column;
    font-weight: 500;
    color: var(--black-color);
}


.ul
{
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 20px;
    list-style: none;
    width: 120px;
    background-color: #ffffff;
    padding: 20px;
    height: 130px;
    animation-name: ul;
    animation-duration: 0.5s;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    text-align: left;
    border: 1px solid var(--light-gray);
}

.li
{
    width: 100%;
    padding-bottom: 5px;
    margin-top: 8px;
}

.liLink
{
    text-decoration: none;
    color: #8f8f8f;
    cursor: pointer;
    transition: 0.3s;
}   

.liLink:hover
{
    color: var(--hover-color)
}

.chatBtn
{
    background: var(--main-color);
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 100% 100% 100% 100%;
    padding: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.deviceInfo
{
    padding: 10px;
    margin-top: 10px;
    font-family: var(--main-font);
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 300;
    color: var(--black-color);
}

.deviceInfoIcon
{
    display: inline-block;
    width: 40px;
    padding: 4px;
    text-align: center;
    margin-top: 8px;
    margin-right: 8px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-weight: 300;
    border-radius: 4px;
}

.deviceTitleIcon
{
    color: #8f8f8f;
}

.deviceTitle
{
    font-weight: 500;
    color: var(--black-color);
    font-size: 18px;
    margin-bottom: 5px;
}

.deviceName
{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.deviceOs
{
    font-size: 16px;
}

.iconBox
{
    padding: 5px;
}

.acceptIcon
{
    width: 35px;
    height: 35px;
    padding: 10px;
    background: url('./image/bg_on.png');
    background-size: cover;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
}

.banIcon
{
    width: 35px;
    height: 35px;
    padding: 10px;
    background: url('./image/bg_off.png');
    background-size: cover;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
}

.icon
{
    width: 35px;
    height: 35px;
}


@media screen and (min-width: 769px) {
    .helloItem
    {
        flex-flow: row;
    }

    .todayBox, .messageBox
    {
        width: 40%;
    }

    .logState
    {
        padding: 10px;
        font-size: 15px;
        border-top: 2px solid;
        border-left: 2px solid;
        border-bottom: 2px solid;
        border-right: 0;
        border-radius: 8px 0px 0px 8px;
    }

    .noticeDay, .alertTime, .approvalDay, .logTime
    {
        display: inline;
        font-size: 15px;
        font-weight: 300;
    }

    .messagePhoto, .alertIcon, .approvalPhoto
    {
        width: 60px;
        height: 60px;
    }

    .messageCount
    {
        padding: 10px;
    }

    .userName, .mapItem, .more, .alertText, .approvalName, .logName
    {
        font-size: 18px;
    }

    .lastMessage, .deviceInfo
    {
        font-size: 16px;
    }

    .messageCount
    {
        width: 10px;
        height: 10px;
        padding: 6px;
        border-radius: 100%;
        color: white;
        font-family: var(--main-font);
        line-height: 50%;
    }
    
    .deviceTitle
    {
        font-size: 20px;
    }

    .tap, .label, .deviceOs, .deviceName
    {
        font-size: 22px;
    }

    .acceptIcon, .banIcon, .icon
    {
        width: 45px;
        height: 45px;
    }


    .setTap
    {
        font-size: 24px;
    }
}


@media screen and (min-width: 1024px) {  
    .helloItem
    {
        flex-flow: column;
    }

    .todayBox, .messageBox
    {
        width: 80%;
    }
    
    .userImg
    {
        width: 200px;
        height: 200px;
    }


    .helloText
    {
     font-size: 24px;
    }

    .title, .chartPer
    {
        font-size: 24px;;
    }

    .chart
    {
        width: 300px;
        height: 300px;
    }
    
    .label
    {
        min-width: 120px;
    }
}



@media screen and (min-width: 1200px) {
	.content
   {
        flex-flow: row;
   }

   .helloBox
   {
        margin-top: 20px;
        width: 20%;
        min-width: 500px;
        max-width: 600px;
   }

   .tapBox
    {
        justify-content: start;
    }

   .setTap
    {
        border-bottom: 5px solid var(--main-color);
    }

    .tap, .setTap
    {
        width: 150px;
        font-size: 22px;
        margin-left: 5%;
    }
}

@media screen and (min-width: 1600px) {
    .businessInfo, .workStatusGrid
   {
        grid-template-columns: 50% 50%;
   }

   .workStatus, .chartLabel
   {
        grid-template-columns: 100%;
   }   

   .deviceManagement
   {
    grid-template-columns: 55% 45%;
   }

   .chartItem
    {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .chartLabel
    {
        margin-left: 10%;
        width: 60%;
    }
}

@keyframes ul
{
    from
    {
        opacity: 0%;
    }

    to
    {
        opacity: 100%;
    }
}

@keyframes fade
{
    from
    {
        opacity: 0%;
        margin-top: 120px;
    }

    to
    {
        opacity: 100%;
        margin-top: 20px;
    }
}